@media only screen and (max-width: 942px) {
  .hide-on-small-only, .hide-on-small-and-down {
    display: none !important;
  }
}
@media only screen and (min-width: 940px) {
  .hide-on-med-and-up {
    display: none !important;
  }
}
@media only screen and (min-width: 942px) and (max-width: 992px) {
  .hide-on-med-only {
    display: none !important;
  }
}
@font-face {
    font-family: "nicole";
    src: url("fonts/AdreenaScript-Demo.ttf");
}
@font-face {
    font-family: "nicole2";
    src: url("fonts/Glam_Queen.ttf");
}
.font-primary{
    font-family: "nicole";
}
.font-secondary{
    font-family: "nicole2";
}
.font-teste{
    font-family: "nicole";
    font-size: 100px;
}
.font-teste2{
    font-family: "nicole2";
    font-size: 35px;
}
.hero-bkg-animated {
  background: gray url(https://www.toptal.com/designers/subtlepatterns/patterns/argyle.png) 100% repeat;
  
}
.borda-texto{
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #ECE9E9;
}
.borda-texto-preto{
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #000000;
}
.borda-texto-preto2{
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #000000;
}
.borda-texto2{
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #ECE9E9;
}
.livro{
    height: 570px;
}

/* MENU */
svg.um:hover path{
    fill: #c1264e;
}
svg.dois:hover path{
    fill: #c1264e;
}
svg.tres:hover path{
    fill: #c1264e;
}
.tippy-tooltip.um-theme {
  background-color: #c1264e;
  font-weight: bold;
  color: white;
}
.tippy-tooltip.dois-theme {
  background-color: #c1264e;
  font-weight: bold;
  color: white;
}
.tippy-tooltip.tres-theme {
  background-color: #c1264e;
  font-weight: bold;
  color: white;
}

/* MARCADOR ESQUERDA'S */
.ribbon_esquerda {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon_esquerda span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: black;
  background: linear-gradient(black 0%, black 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon_esquerda span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid black;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid black;
}
.ribbon_esquerda span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid black;
  border-bottom: 3px solid transparent;
  border-top: 3px solid black;
}
/**/
.ribbon_esquerda1 {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon_esquerda1 span {
  font-size: 10px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: white;
  background: linear-gradient(white 0%, white 100%);
  box-shadow: 0 3px 10px -5px white;
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon_esquerda1 span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid black;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid black;
}
.ribbon_esquerda1 span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid black;
  border-bottom: 3px solid transparent;
  border-top: 3px solid black;
}
/* MARCADOR DIREITA'S */
.ribbon_direita {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon_direita span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: black;
  background: linear-gradient(black 0%, black 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon_direita span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid black;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid black;
}
.ribbon_direita span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid black;
  border-bottom: 3px solid transparent;
  border-top: 3px solid black;
}
.ribbon {
  width: 48%;
  height: 80px;
  position: relative;
  float: left;
  margin-bottom: 30pp;
  position: absolute;
  color: white;
}
.ribbon:nth-child(even) {
  margin-right: 4%;
}
@media (max-width: 500px) {
  .ribbon {
    width: 100%;
  }
  .ribbon:nth-child(even) {
    margin-right: 0%;
  }
}
.ribbon1 {
  position: absolute;
  top: -6.1px;
  right: 10px;
}
.ribbon1:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 53px solid transparent;
  border-right: 53px solid transparent;
  border-top: 10px solid #F8463F;
}
.ribbon1 span {
  position: relative;
  display: block;
  text-align: center;
  background: #F8463F;
  font-size: 14px;
  line-height: 1;
  padding: 12px 8px 10px;
  border-top-right-radius: 8px;
  width: 90px;
}
.ribbon1 span:before, .ribbon1 span:after {
  position: absolute;
  content: "";
}
.ribbon1 span:before {
 height: 6px;
 width: 6px;
 left: -6px;
 top: 0;
 background: #F8463F;
}
.ribbon1 span:after {
 height: 6px;
 width: 8px;
 left: -8px;
 top: 0;
 border-radius: 8px 8px 0 0;
 background: #C02031;
}
.ribbon2 {
 width: 60px;
 padding: 10px 0;
 position: absolute;
 top: -6px;
 left: 25px;
 text-align: center;
 border-top-left-radius: 3px;
 background: #9E0C0C;
}
.ribbon2:before {
 height: 0;
 width: 0;
 right: -5.5px;
 top: 0.1px;
 border-bottom: 6px solid #8D5A20;
 border-right: 6px solid transparent;
}
.ribbon2:before, .ribbon2:after {
  content: "";
  position: absolute;
}
.ribbon2:after {
  height: 0;
  width: 0;
  bottom: -29.5px;
  left: 0;
  border-left: 30px solid #9E0C0C;
  border-right: 30px solid #9E0C0C;
  border-bottom: 30px solid transparent;
}

/**/
.ribbon3 {
 width: 60px;
 padding: 10px 0;
 position: absolute;
 top: -6px;
 left: 25px;
 text-align: center;
 border-top-left-radius: 3px;
 background: #002053;
}
.ribbon3:before {
 height: 0;
 width: 0;
 right: -5.5px;
 top: 0.1px;
 border-bottom: 6px solid #002053;
 border-right: 6px solid transparent;
}
.ribbon3:before, .ribbon3:after {
  content: "";
  position: absolute;
}
.ribbon3:after {
  height: 0;
  width: 0;
  bottom: -29.5px;
  left: 0;
  border-left: 30px solid #002053;
  border-right: 30px solid #002053;
  border-bottom: 30px solid transparent;
}

/**/
.ribbon4 {
 width: 60px;
 padding: 10px 0;
 position: absolute;
 top: -6px;
 left: 25px;
 text-align: center;
 border-top-left-radius: 3px;
 background: white;
}
.ribbon4:before {
 height: 0;
 width: 0;
 right: -5.5px;
 top: 0.1px;
 border-bottom: 6px solid white;
 border-right: 6px solid transparent;
}
.ribbon4:before, .ribbon4:after {
  content: "";
  position: absolute;
}
.ribbon4:after {
  height: 0;
  width: 0;
  bottom: -29.5px;
  left: 0;
  border-left: 30px solid white;
  border-right: 30px solid white;
  border-bottom: 30px solid transparent;
}


/* LIVRO 1*/
.fundo_book{
    background-color: #484848;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, #ECE9E9 35px, #ECE9E9 70px);
    height: 650px;
}
/* LIVRO 2*/
.fundo_book2{
    background-color:#001;
    background-image: radial-gradient(white 15%, transparent 16%),
    radial-gradient(white 15%, transparent 16%);
    background-size:60px 60px;
    background-position: 0 0, 30px 30px;
    height: 650px;
}
.fundo_cinzaclaro{
    background-color: #1d1d1d !important;
    height: 650px;
}
.fundo_cinzaescuro{
    background-color: #151515 !important;
    height: 650px;
}
/* LIVRO 3*/
.fundo_book3{
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    height: 650px;
}
.fundo_book4{
    background:
    linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color:#708090;
    background-size: 64px 128px;
    height: 650px;
}
.fundo2016_3{
    background-image: url(../img/fundo_2016_3.png);
}
.fundo2017_3{
    background-image: url(../img/fundo_2017_3.png);
}

/* COMENTÃRIOS */
#box {
            height: 200px;
            width: inherit;
            padding: 1em;
            margin: auto;
            border-left: 5px solid #002053;
            background-color: #fff;
            overflow: auto;
            text-align: left;
}
#box_1 {
            height: 80px;
            width: inherit;
            padding: 1em;
            margin: auto;
            overflow: auto;
            text-align: left;
}
.item {
          display: flex;
          max-width: 1000px;
          margin: 0 auto;
        }
        .item .image {
          padding: 1em 2em;
        }
        .item .image > div {
          position: relative;
          text-align: center;
          font-size: 0.8em;
        }
        .item .image > div::after {
          content: '';
          width: 100%;
          height: 0;
          border-bottom: 1px solid #232b50;
          position: absolute;
          top: 2.75em;
          left: 2.5em;
          z-index: -1;
        }
        .item .image img {
          border-radius: 50%;
          height: 5em;
          border: 0.35em solid #5ed3bf;
        }
        .item .image span {
          display: block;
          clear: both;
          padding: 0.25em 0;
          margin: 0.5em 0;
          background: #3b4262;
          color: white;
        }
        .item .details {
          position: relative;
          flex-grow: 1;
        }
        .item .details > div {
          border: 1px solid #232b50;
          border-radius: 0.5em;
          padding: 1.5em;
          margin: 1em 0;
        }
        .item .details > div h1 {
          color: #5ed3bf;
          font-size: 1.4em;
          margin: 0;
          padding: 0 0 0.5em 0;
          letter-spacing: 0.1em;
        }
        .item .details > div p {
          margin: 0;
          padding: 0;
          line-height: 150%;
        }
        .item .details::before {
          content: '';
          width: 0;
          height: 100%;
          border-left: 1px solid #232b50;
          position: absolute;
          top: 0;
          left: -4.35em;
          z-index: -1;
        }