@font-face {
    font-family: 'Augusta';
    src: local('Augusta'),
        url('Augusta-Shadow.ttf') format('woff2'),
        url('Augusta.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}